{% extends "::base.html.twig" %}

{% block title %}RateFoodBackendBundle:Restaurant:Edit{% endblock %}

{% block body %}
    {% trans %}Hello %name%{% endtrans %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
