{% extends "::base.html.twig" %}

{% block title %}AppBundle:Restaurant:index{% endblock %}

{% block body %}
    {% for restaurant in restaurants if restaurant.menu | length %}
        <li>
            <a href="/backend/restaurants/{{ restaurant.id }}/edit">{{ restaurant.name }}</a></li>
    {% endfor %}
{% endblock %}
