{% extends "::base.html.twig" %}

{% block title %}AppBundle:Product:details{% endblock %}

{% block body %}
    <h1>Menu:
        {% for menu in product.menu %}
            <li><a href="/menu/{{ menu.id }}">{{ menu.name }}</a></li></h1>
        {% endfor %}
    <h2>{{ product.name }}</h2>
    <h3>{{ product.description }}</h3>
{% endblock %}
