{% extends "::base.html.twig" %}

{% block title %}AppBundle:Restaurant:details{% endblock %}

{% block body %}
<h1>{{ restaurant.name }}</h1>
    {% for menu in restaurant.menu if menu.products | length %}
        <li>{{ menu.name }}</li>
        <ul>
            {% for product in menu.products %}
                <li>
                    <a href="/products/{{ product.id }}">{{ product.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
