{% extends "::base.html.twig" %}

{% block title %}AppBundle:Restaurant:index{% endblock %}

{% block body %}
    {% for restaurant in restaurants if restaurant.menu | length %}
        <li>
            <a href="/restaurants/{{ restaurant.id }}">{{ restaurant.name }}</a></li>
            <ul>
                {% for menu in restaurant.menu if menu.products | length %}
                    <li>{{ menu.name }}</li>
                    <ul>
                        {% for product in menu.products %}
                            <li>{{ product.name }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
    {% endfor %}
{% endblock %}
